{% extends "base.html" %}

{% block content %}
{% if show_edit %}
<div class="actions">
    <div><a href="{% url 'user_edit' anuser.id %}">{% trans 'Edit profile' %}</a></div>
    <div><a href="{% url 'user_settings' anuser.id %}">{% trans 'Account settings' %}</a></div>
</div>
{% endif %}
<div class="main">
    <div><a href="{% url 'help' %}#linear-reputation">{% trans "Linear reputation" %}</a>:
        {{ anuser.profile.linear_reputation }}</div>
    <div><a href="{% url 'article_index' %}?{%  url_set_params creator=anuser.username %}">{% trans "Articles" %}</a></div>
    <div>
        {% trans "Votes cast" %}:
        <a href="{% url 'article_vote_index' %}?{%  url_set_params creator=anuser.username %}">{% trans "All" %}</a> |
        <a href="{% url 'article_vote_index' %}?{%  url_set_params creator=anuser.username value=ArticleVote.UPVOTE %}">{% trans "Upvotes" %}</a> |
        <a href="{% url 'article_vote_index' %}?{%  url_set_params creator=anuser.username value=ArticleVote.DOWNVOTE %}">{% trans "Downvotes" %}</a>
    </div>
    <div class="metadata">
        <div>{% trans "Real name" %}: {{ user.profile.real_name }}</div>
        <div>{% trans "Date joined" %}: {{ anuser.date_joined }}</div>
        <div>{% trans "Profile last edited" %}: {{ anuser.profile.last_edited }}</div>
        <div>{% trans "About" %}:</div>
    </div>
    <div class="body">
    {{ about }}
    </div>
</div>
{% endblock %}
