{% extends "base.html" %}

{% block content %}
{% if show_edit %}
<div class="actions">
    <div><a href="{% url 'user_edit' anuser.id %}">{% trans 'Edit profile' %}</a></div>
    <div><a href="{% url 'user_settings' anuser.id %}">{% trans 'Account settings' %}</a></div>
</div>
{% endif %}
<div class="main">
    <div><a href="{% url 'article_index' %}?{%  url_set_params creator=anuser.username %}">{% trans "Articles" %}</a></div>
    <div class="metadata">
        <div>{% trans "Reputation" %}: {{ anuser.profile.reputation }}</div>
        <div>{% trans "Real name" %}: {{ user.profile.real_name }}</div>
        <div>{% trans "Date joined" %}: {{ anuser.date_joined }}</div>
        <div>{% trans "Profile last edited" %}: {{ anuser.profile.last_edited }}</div>
        <div>{% trans "About" %}:</div>
    </div>
    <div class="body">
    {{ about }}
    </div>
</div>
{% endblock %}
