{% extends "base.html" %}

{% block content %}
{% if users %}
    <table>
        <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Linear reputation" %}</th>
            <th>{% trans "Real name" %}</th>
            <th>{% trans "Date joined" %}</th>
            <th>{% trans "Profile last edited" %}</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{% user_link user %}</td>
            <td>{{ user.profile.linear_reputation }}</td>
            <td>{{ user.profile.real_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.profile.last_edited }}</td>
        </tr>
    {% endfor %}
    </table>
    {% include "pagination.html" with objects=users %}
{% else %}
    <div>{% trans "There are no users that you can see" %}</div>
{% endif %}
{% endblock %}
