{% extends "base.html" %}

{% block content %}
{% if users %}
    <table>
        <tr>
            {% for verbose_name in verbose_names %}
                <th>{% trans verbose_name %}</th>
            {% endfor %}
        </tr>
    {% for user in users %}
        <tr>
            <td>{% user_link user %}</td>
            <td>{{ user.profile.linear_reputation }}</td>
            <td>{{ user.profile.real_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.profile.last_edited }}</td>
        </tr>
    {% endfor %}
    </table>
    {% include "pagination.html" with objects=users %}
{% else %}
    <div>{% trans "There are no users that you can see" %}</div>
{% endif %}
{% endblock %}
