{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }} - {{ website_name }}</title>
    <link rel="stylesheet" href="{% static 'free_books/style.css' %}" />
</head>
<body>
    <header>
        <nav>
            <div>
            {# TODO don't show this on the login page itself. #}
            {% if user.is_authenticated %}
                {% trans "Logged in as:" %} <strong>{{ user.username }}</strong> |
                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
            {% endif %}
            </div>
            <div>
              <span><a href="{% url 'home' %}">{% trans "Home" %}</a><span> |
              <span><a href="{% url 'article_index' %}">{% trans "Articles" %}</a><span>
            </div>
        </nav>
    </header>
    <main>
      <h1>{{ title }}</h1>
      {% if error_message %}<div>{{ error_message }}</div>{% endif %}
      {% block content %}{% endblock %}
    </main>
</body>
</html>
