{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }} - {{ website_name }}</title>
    <link rel="stylesheet" href="{% static 'free_books/main.css' %}" />
    <script src="{% static 'free_books/main.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" ></script>
</head>
<body data-view="{{ request.resolver_match.url_name }}">
    <header>
        <nav>
            <div class="login">
            {% if user.is_authenticated %}
                <strong>{% user_link %}</strong> |
                <a href="{% url 'logout' %}?next={{ request.path | urlencode }}">{% trans "Logout" %}</a>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
            {% endif %}
            {% if show_admin %}
                | <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
            {% endif %}
            {% if show_new_article %}
                | <a href="{% url 'article_new' %}">{% trans "New article" %}</a>
            {% endif %}
            </div>
            <div class="sections">
                <span><strong><a href="{% url 'home' %}">{{ website_name }}</a></strong><span> |
                <span><a href="{% url 'article_index' %}">{% trans "Articles" %}</a><span> |
                <span><a href="{% url 'user_index' %}">{% trans "Users" %}</a><span> |
                <span><a href="{% url 'article_vote_index' %}">{% trans "Article votes" %}</a><span> |
                <span><a href="{% url 'article_tag_vote_index' %}">{% trans "Tag votes" %}</a><span>
            </div>
        </nav>
    </header>
    <main>
        <h1>{{ title }}</h1>
        {% if error_message %}<div>{{ error_message }}</div>{% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="{% url 'about' %}" >{% trans "About" %}</a> |
        <a href="{% url 'help' %}" >{% trans "Help" %}</a>
    </footer>
</body>
</html>
