{% extends "base.html" %}

{% block content %}
{% if votes %}
    <table>
        {% for verbose_name in verbose_names %}
            <th>{% trans verbose_name %}</th>
        {% endfor %}
    {% for vote in votes %}
        <tr>
            <td>{% user_link vote.user %}</td>
            <td><a href="{% url 'article_detail' vote.article.id %}">{{ vote.article.title }}</a></td>
            {#<td>{{ vote.get_type_display }}</td>#}
            <td>{{ vote.get_value_display }}</td>
            <td>{{ vote.date_created }}</td>
        </tr>
    {% endfor %}
    </table>
    {#{% include "pagination.html" with objects=votes %}#}
{% else %}
    <div>{% trans "There are no votes that you can see" %}</div>
{% endif %}
{% endblock %}
