/* TODO move to SASS when it starts getting messy. */
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: left;
}
td, th {
    border: 1px solid black;
    padding: 2px;
}
th {
    font-weight: bold;
}
h1 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
a:not(:hover) {
    text-decoration: none;
}
form label {
    display:block;
    margin-bottom: 5px;
}
nav .login {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
nav .sections {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .actions {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .metadata {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .body {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
