/* TODO move to SASS when it starts getting messy. */
body {
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: left;
}
table.clean {
    border: 0;
}
table td, th {
    border: 1px solid black;
    padding: 2px;
}
table.clean td, th {
    border: 0;
}
th {
    font-weight: bold;
}
h1 {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
a:not(:hover) {
    text-decoration: none;
}
form label {
    display:block;
    margin-bottom: 5px;
}
main .defined-tags {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
nav .login {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
nav .sections {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .actions {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .search {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .metadata {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .tags {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
main .tags-by-user {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
    list-style-type: none;
}
footer {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.active {
    color: orange;
}
a.help {
    cursor: help;
}
.onoff.on .off {
    display: none;
}
.onoff:not(.on) .on {
    display: none;
}
/* bootstrap */
button.btn.btn-link {
    padding: 0;
    padding: 0;
}
