{% extends "base.html" %}

{% block content %}
<div class="actions" >
    <div>{% trans "Net votes" %}: <span id="net-votes">{{ article.net_votes }}</span></div>
    <div>
        {% if show_vote %}
        <a href="{% url 'article_vote' article.id %}"
                class="vote onoff {% if not has_upvoted %}on{% endif %}"
                data-type="{{ ArticleVote.LIKE }}"
                data-value="{{ ArticleVote.UPVOTE }}"
                id="upvote-onoff" >
        {% endif %}
                    <span class="on" id="upvote" >{% trans 'Upvote' %}</span>
        {% if show_vote %}
                    <span class="off" id="undo-upvote" >{% trans 'Undo upvote' %}</span>
            </a>
        {% endif %}
        (<span id="upvote-count">{{ article.upvote_count }}</span>)
    </div>
    <div>
        {% if show_vote %}
        <a href="{% url 'article_vote' article.id %}"
                class="vote onoff {% if not has_downvoted %}on{% endif %}"
                data-type="{{ ArticleVote.LIKE }}"
                data-value="{{ ArticleVote.DOWNVOTE }}"
                id="downvote-onoff" >
        {% endif %}
                    <span class="on" id="downvote" >{% trans 'Downvote' %}</span>
        {% if show_vote %}
                    <span class="off" id="undo-downvote" >{% trans 'Undo downvote' %}</span>
            </a>
        {% endif %}
        (<span id="downvote-count">{{ article.downvote_count }}</span>)
    </div>
    {% if show_edit %}
        <div><a href="{% url 'article_edit' article.id %}">{% trans 'Edit article' %}</a></div>
    {% endif %}
    {% if show_delete %}
        <form action="{% url 'article_delete' article.id %}" method="post"
                onsubmit="return confirm('{% trans "Are you sure?" %}');">
            {% csrf_token %}
            <input type="submit" value="{% trans "Delete article" %}" />
        </form>
    {% endif %}
    {% include 'articles/new_link.html' %}
</div>
<div class="main">
    <div class="metadata">
        <div>{% trans "Creator" %}: {% user_link article.creator %}</div>
        <div>{% trans "Publish date" %}: {{ article.pub_date }}</div>
        <div>{% trans "Last edited" %}: {{ article.last_edited }}</div>
        <div>{% trans "Body" %}:</div>
    </div>
    <div class="body">
        {{ body }}
    </div>
<div>
{% endblock %}
