{% extends "base.html" %}

{% block content %}
<div>{% trans "Creator" %}: {% user_link article.creator %}</div>
<div>{% trans "Publish date" %}: {{ article.pub_date }}</div>
<div>{% trans "Last edited" %}: {{ article.last_edited }}</div>
<div>{% trans "Body" %}:</div>
<pre>
{{ article.body }}
</pre>
<div><a href="{% url 'article_edit' article.id %}">{% trans 'Edit article' %}</a></div>
<form action="{% url 'article_delete' article.id %}" method="post"
        onsubmit="return confirm('{% trans "Are you sure?" %}');">
    {% csrf_token %}
    <input type="submit" value="{% trans "Delete article" %}" />
</form>
{% include 'articles/new_link.html' %}
{% endblock %}
