{% if show_tag_vote %}<a
        class="{% if tag.user_has_upvoted %}active {% endif%}vote"
        data-article="{{ article.id }}"
        data-defined_by_article="{{ defined01 }}"
        data-name="{{ tag.name }}"
        data-value="{{ ArticleTagVote.UPVOTE }}"
        href="{% url 'article_tag_vote_new' %}"
        title="{% if tag.user_has_upvoted %}{% trans "Undo upvote" %}{% else %}{% trans "This tag describes this article well" %}{% endif %}"
    >&#x25B2;</a><a
    ><a
        class="{% if tag.user_has_downvoted %}active {% endif%}vote"
        data-article="{{ article.id }}"
        data-defined_by_article="{{ defined01 }}"
        data-name="{{ tag.name }}"
        data-value="{{ ArticleTagVote.DOWNVOTE }}"
        href="{% url 'article_tag_vote_new' %}"
        title="{% if tag.user_has_downvoted %}{% trans "Undo downvote" %}{% else %}{% trans "This tag does not describe this article well" %}{% endif %}"
    >&#x25BC;</a>
{% endif %}
