<div class="{{ type }}-tags">
    <a href="{% url 'help' %}#defined-tags">{% trans label %}</a>
    {% if user != article.creator %}
        <div>
            {% trans "Creator" %}:
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        {% for tag in tags.creator_up %}
                            {{ tag.name }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        {% for tag in tags.creator_down %}
                            {{ tag.name }}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div>
            {% trans "Mine" %}:
            {# TODO remove #}
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_up defined01=defined01 value="1" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_down defined01=defined01 value="-1" %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    <div>
        {% trans "All" %}
        (<a href="{% url 'article_tag_vote_index' %}?{% url_set_params article=article.id defined=defined01 %}"
            >{{ tags.all.count }}</a>):
        {% for tag in tags.with_score %}
            {{ tag.name }} (<a
                href="{% url 'article_tag_vote_index' %}?{% url_set_params article=article.id defined=defined01 name=tag.name %}"
                >{{ tag.linear_score }}</a>)<a
                  class="vote"
                  data-article="{{ article.id }}"
                  data-defined_by_article="{{ defined01 }}"
                  data-name="{{ tag.name }}"
                  data-value="{{ ArticleTagVote.UPVOTE }}"
                  href="{% url 'article_tag_vote_new' %}"
                  title="{% trans "This tag describes this article well" %}"
                >&#x25B2;</a><a
                ><a
                  class="vote"
                  data-article="{{ article.id }}"
                  data-defined_by_article="{{ defined01 }}"
                  data-name="{{ tag.name }}"
                  data-value="{{ ArticleTagVote.DOWNVOTE }}"
                  href="{% url 'article_tag_vote_new' %}"
                  title="{% trans "This tag does not describe this article well" %}"
                >&#x25BC;</a>|
        {% endfor %}
        {% if tags.with_score_has_more %}
            {# TODO make it AJAX-load more tags #}
            <b><a href="TODO" title="{% trans "Load more" %}">&#x22EF;</a></b>
        {% endif %}
    </div>
</div>
