<div class="{{ type }}-tags">
    <div>
        <a class="help" href="{% url 'help' %}#defined-tags" title="{% trans "What are defined tags?" %}">{% trans label %}</a>
        (<a href="{% url 'article_tag_vote_index' %}?{% url_set_params article=article.id defined=defined01 %}"
            title="{% trans label_count_help %}"
            >{{ tags.all.count }}</a>):
        {% for tag in tags.with_score %}
            {{ tag.name }} (<a
                href="{% url 'article_tag_vote_index' %}?{% url_set_params article=article.id defined=defined01 name=tag.name %}"
                title="{% trans "See all votes for this tag for this article" %}"
                >{{ tag.linear_score }}</a
            >){% include "articles/tag_up_down.html" %}
            |
        {% endfor %}
        {% if tags.with_score_has_more %}
            {# TODO make it AJAX-load more tags #}
            <b><a href="TODO" title="{% trans "Load more" %}">&#x22EF;</a></b>
        {% endif %}
    </div>
    {% if user != article.creator %}
        <div>
            {% trans "Creator" %}:
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        {% for tag in tags.creator_up %}
                            {{ tag.name }} {% include "articles/tag_up_down.html" %} |
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        {% for tag in tags.creator_down %}
                            {{ tag.name }} {% include "articles/tag_up_down.html" %} |
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div>
            {% trans "Mine" %}:
            {# TODO remove #}
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_up defined01=defined01 value="1" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_down defined01=defined01 value="-1" %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
