<div class="{{ type }}-tags defined-or-not-tags">
    <div class="article-tag-vote-all">
        <a class="help" href="{% url 'help' %}#defined-tags" title="{% trans "What are defined tags?" %}">{% trans label %}</a>
        (<a class="article-tag-vote-count"
            href="{% url 'article_tag_vote_index' %}?{% url_set_params article=article.id defined=defined01 %}"
            title="{% trans label_count_help %}"
            >{{ tags.all.count }}</a>):
        {% include "articles/tags_with_score.html" with article=article tags=tags show_tag_vote=show_tag_vote %}
        {% if tags.with_score_has_more %}
            <a class="get-more-votes"
               data-article="{{ article.id }}"
               data-defined="{{ defined01 }}"
               href="{% url 'article_tag_vote_get_more' %}"
               title="{% trans "Load more" %}"><b>&#x22EF;</b></a>
        {% endif %}
    </div>
    {% if user != article.creator %}
        <div>
            {% trans "Creator" %}:
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        <span class="article-tag-vote-list">
                            {% for tag in tags.creator_up %}
                                <span class="article-tag" data-name="{{ tag.name }}">
                                    {{ tag.name }} {% include "articles/tag_up_down.html" %}
                                </span>
                                |
                            {% endfor %}
                        <span>
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        <span class="article-tag-vote-list">
                            {% for tag in tags.creator_down %}
                                {{ tag.name }} {% include "articles/tag_up_down.html" %} |
                            {% endfor %}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div>
            {% trans "Mine" %}:
            {# TODO remove #}
            <table class="clean tags-by-user">
                <tr>
                    <td>{% trans "Up" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_up defined01=defined01 value="1" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Down" %}:</td>
                    <td>
                        {% include "articles/my_tags.html" with tags=tags.my_down defined01=defined01 value="-1" %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
